body{
  font-family: Arial, Halvetica, Sans-Serif;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}
span{
  border-bottom:2px solid black ;
  padding: 2px;
}
button {
 margin: 20px 0;
 background: darkgreen;
 color: blue;
 border: 2px solid black;
 font-weight: bold; 
 cursor: pointer;
 padding: 5px 8px;
}